body{
    box-sizing: border-box;
    /* box-sizing: content-box; */
    margin: 0;
    padding: 0;
    background-color: rgb(224, 220, 220);
}

.header{
    background-color: rgb(73, 73, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.header ul{
    display: flex;
    justify-content: center;    
}

.header ul li{
    list-style-type:none;
    
}
.header ul li a{
    text-decoration: none;
    padding: 20px; 
   color: white;
}


.about{
    background-color: white;
    width: 90%;
    margin: 15px auto;
    padding: 20px 20px 4px 20px;
    border-radius: 5px;
    text-align: justify;
}

.members{
    display: flex;

}


footer{
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    padding: 8px;
    position: relative;
}

.contentform{
    display: flex ;
    flex-direction: column;
    margin-bottom: 20px;
    

}
img{
    margin: 8px;
}

input{
    width: 90%;
    margin: 10px;
    padding: 10px;
}
.button{
    width: 92%;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 9px;
    border-radius: 5px;
}